{{ block title }}
    Instructions de l'expérience
{{ endblock }}

{{ block content }}
    <div class="card mb-3">
        <div class="card-body">
            <h3>Loteries destinées à mesurer l'aversion au risque et l'aversion à l'ambiguïté</h3>
            <p>Cette expérience comporte:</p>
            <ul>
                <li>Une tâche préliminaire pour gagner des jetons</li>
                <li>Une série de décisions d'investissement</li>
            </ul>
            <p>À la fin, l'une de vos décisions sera tirée au sort pour déterminer votre paiement.</p>
        </div>
    </div>

    {{ next_button }}
{{ endblock }}