{{ block title }}
    Décisions d'investissement
{{ endblock }}

{{ block content }}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>Information générale</h4>
        </div>
        <div class="card-body">
            <p>Lors de cette étape, vous allez effectuer une série de choix entre plusieurs options, exprimées en jetons. Les choix que vous effectuerez peuvent amener des gains mais peuvent aussi vous amener à perdre tout ou partie des 25 jetons que vous venez de gagner.</p>
            
            <p>L'un de vos choix sera tiré au sort à la fin de cette étape de l'expérimentation. Par conséquent, chacune des décisions que vous exprimerez pour donner lieu à une rémunération lorsque le tirage au sort sera effectué.</p>
        </div>
    </div>

    {{ next_button }}
{{ endblock }}